<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12">
      <div class="" style="border-radius: 15px">
        <div class="card-body p-0">
          <div class="row g-0">
            <div class="col-lg-8">
              <div class="p-5">
                <div
                  class="d-flex justify-content-between align-items-center mb-5"
                >
                  <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                  <h6 class="mb-0 text-muted">
                    {{ shoppingCart.length }} items
                  </h6>
                </div>
                <hr class="my-4" />
                <div *ngFor="let productShop of shoppingCart">
                  <div
                    class="row mb-4 d-flex justify-content-between align-items-center"
                  >

                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{ productShop.name }}</h6>
                      <h6 class="text-black mb-0">
                        {{ productShop.description }}
                      </h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <div class="row">
                        <button
                          class="col btn btn-danger btn-md"
                          (click)="editCart(productShop, -1)"
                        >
                          <fa-icon
                            class="w-full align-right"
                            [icon]="faMinus"
                          ></fa-icon>
                        </button>
                        <div class="col">
                          <div class="fs-5">{{ productShop.amountIncart }}</div>
                        </div>
                        <button
                          class="col btn btn-danger btn-md"
                          (click)="editCart(productShop, +1)"
                        >
                          <fa-icon [icon]="faPlus"></fa-icon>
                        </button>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">€ {{ productShop.price! }}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"
                        ><i class="fas fa-times"></i
                      ></a>
                    </div>
                  </div>

                  <hr class="my-4" />
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5 bg-danger text-white rounded-bottom">
              <div class="p-5">
                <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                <hr class="my-4" />
                <div *ngFor="let productShop of shoppingCart">
                  <h5 class="text-uppercase">{{ productShop.name }}</h5>
                  <div class="d-flex justify-content-between mb-4" >
                    <h5 class="text-uppercase">Amount {{ productShop.amountIncart }}</h5>
                    <h5>€ {{ (productShop.amountIncart! * productShop.price!) | number:'1.0-2' }}</h5>
                  </div>
                </div>

                <hr class="my-4" />

                <div class="d-flex justify-content-between mb-5">
                  <h5 class="text-uppercase">Total price</h5>
                  <h5>€ {{ totalPrice | number:'1.0-2'}}</h5>
                </div>

                <hr class="my-4" />
                <span>add company info afress postcode naam enzo</span>
                <button
                  type="button"
                  class="btn btn-dark btn-block btn-lg"
                  data-mdb-ripple-color="dark"
                >
                  Order
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
