<div >
<div>
  <svg class="position-absolute d-none d-lg-block" style="margin-top:-300px; z-index:-1; max-width:100%;object-fit: cover;" xmlns="http://www.w3.org/2000/svg" width="1927.141" height="772.12" viewBox="0 0 1927.141 772.12">
    <path id="Path_6" data-name="Path 6" d="M3974.476,1519.246s29.193,216.763,363.092,207.836,369.61,35.711,412.464,142.845,421.392,160.7,503.528,92.849,308.9-196.411,421.392-103.562c37.572,31.012,225.669,51.948,225.669,51.948V1221.852H3974.476" transform="translate(-3973.98 -1221.352)" fill="#e42e2e" stroke="#707070" stroke-width="1"/>
  </svg>
</div>


    <section class="jumbotron text-center m-5">
      <div class="container">
        <h1 class="jumbotron-heading d-none  d-lg-block ">
          <span class="text-black">Our</span> 
          <span class="text-white"> Pricing</span>
        </h1>
        <h1 class="jumbotron-heading d-block d-lg-none  "> Our Pricing</h1>

      </div>
    </section>
    <div class="container text-center my-5">
        <div class="row row-cols-1 row-cols-lg-5 g-2 g-lg-3 justify-content-md-center">
            <div class="col ">
                <div class="card h-100 m-2 shadow">
                    <div class="card-body">
                    <h5 class="card-title w-100 text-center">Free</h5>
                      <ul class="list-group list-group-flush my-5 text-start">
                      </ul>      
                      <button class="btn btn-danger w-100 align">Sign up now</button>      
                    </div>
                  </div>
            </div>
            <div class="col ">
                <div class="card h-100 m-2 shadow">
                    <div class="card-body">
                    <h5 class="card-title w-100 text-center">Free</h5>
                      <ul class="list-group list-group-flush my-5 text-start">
                      </ul>      
                      <button class="btn btn-danger w-100 align">Sign up now</button>      
                    </div>
                  </div>            </div>
            <div class="col">
                <div class="card h-100 m-2 shadow">
                    <div class="card-body">
                    <h5 class="card-title w-100 text-center">Free</h5>
                      <ul class="list-group list-group-flush my-5 text-start">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                      </ul>      
                      <button class="btn btn-danger w-100 align">Sign up now</button>      
                    </div>
                  </div>            </div>
          </div>
        
    
    </div>
</div>
