<div>
    <svg class="position-absolute d-none d-lg-block" style="margin-top:-160px; z-index:-1; max-width:100%;object-fit: cover;" xmlns="http://www.w3.org/2000/svg" width="1919.549" height="370.352" viewBox="0 0 1919.549 370.352">
        <path id="Path_7" data-name="Path 7" d="M4887.606,1593.024c361.445,51.033,229.557,67.016,557.63,86.523s324.083,1.773,764.322,74.481,597.6,23.546,597.6,23.546l-.321-353.409-1919.229-.695" transform="translate(-4887.606 -1423.471)" fill="#e42e2e"/>
    </svg>
    <section class="jumbotron text-center m-5">
        <div class="container">
          <h1 class="jumbotron-heading d-none  d-lg-block ">
            <span class="text-black">About</span> 
            <span class="text-white"> Us</span>
          </h1>
          <h1 class="jumbotron-heading d-block d-lg-none  "> About Us</h1>
        </div>
      </section>
      <div class=" rounded w-100 container my-4">
        <div class="row row-cols-1" style="color: black;">
            <div class="col">
                <h1 class="jumbotron-heading p-3">
                    Our <span class="text-danger">Team</span>
                </h1>
                <p class="border-start border-danger p-2">
                    <span >
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
                    </span>
                </p>
                <h1 class="jumbotron-heading p-3">
                Our <span class="text-danger">Goal</span>
                </h1>
                <p class="border-start border-danger p-2">
                    <span >
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
                    </span>
                </p>
            </div>

        </div>

      </div>
      


</div>
